.skills_page {
  width: 100%;
  min-height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 10px 42px 0 rgba(171, 165, 165, 0.37);

  h1 {
    background: #ad1328;
    background: linear-gradient(
      to right,
      #c1162d 0%,
      #362121 50%,
      #7f4dab 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
  }

  .skills {
    max-width: 800px;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    span {
      min-width: 150px;
      background-image: linear-gradient(
        to left bottom,
        #000000,
        #1b1b1b,
        #2f2f2f,
        #444444,
        #5b5b5b,
        #5c5c5c,
        #5c5c5c,
        #5d5d5d,
        #474747,
        #333232,
        #201f1f,
        #0a0908
      );
      padding: 1rem;
    }
  }
}
