*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  min-width: 350px;
}

body {
  background-image: linear-gradient(
    to left top,
    #947784,
    #78626d,
    #5e4d57,
    #453a41,
    #2e272c,
    #251f22,
    #1b1718,
    #110d0e,
    #100c0c,
    #0e0b0a,
    #0c0a09,
    #0a0908
  );
}
