*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  min-height: 100vh;

  background: url("../assets/bg.jpg") center/cover;
}

body {
  overflow-x: hidden;
  color: white;
}
